/** @format */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Hex #D10056
RGB 209, 0, 86
CMYK 0, 100, 59, 18
 rgb(36, 1, 25); */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Josefin Sans", sans-serif;
}
.icons img,
.socials img,
.send-btn img,
.contact-form img {
	height: 18px;
}
body {
	min-height: 100vh;
	font-family: "Josefin Sans", sans-serif;
	background-color: rgb(179, 0, 74);
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-wrapper {
	width: 850px;
	border-radius: 15px;
	background-color: rgb(47, 2, 51);
}
.card-container {
	display: flex;
	gap: 30px;
	height: 500px;
	padding: 30px;
}

.left-card .contact-details h4 {
	color: white;
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 45px;
	/* border: 1px solid white; */
	width: 300px;
}
.contact-details span {
	color: rgb(141, 0, 59);
	/* font-size: 25px; */
}

.contact-details .icons {
	display: flex;
	margin-bottom: 15px;
	padding-left: 8px;
	align-items: center;
}
.contact-details .icons img {
	height: 14px;
	margin-right: 10px;
}
.contact-details .icons p {
	color: white;
	font-size: 14px;
}
.contact-details .icons:hover {
	background-color: rgba(141, 0, 59, 0.1);
	border: 2px solid rgb(141, 0, 59);
	border-radius: 5px;
	height: 40px;
	width: 250px;
}

.left-card .socials {
	width: 100%;
	margin-top: 180px;
	/* border: 1px solid white; */
}
.left-card .socials a {
	margin-right: 25px;
	padding-left: 8px;
	/* border: 1px solid white; */
	text-align: center;
}
.left-card .socials a:hover {
	border-radius: 50%;
	background-color: rgb(179, 0, 74);
	padding: 8px;
	outline: none;
	border: none;
}
.right-card {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	width: 700px;
}
.right-card .card-info {
	display: flex;
	flex-direction: column;
}
.card-info h6 {
	color: rgb(36, 1, 25);
	margin-bottom: 10px;
	font-size: 15px;
}
.card-info .select-btn {
	display: flex;
	flex-wrap: wrap;
}
.select-btn button {
	padding: 12px;
	margin-bottom: 8px;
	margin-right: 8px;
	outline: none;
	background-color: transparent;
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 14px;
	color: gray;
	font-family: "Josefin Sans", sans-serif;
}
.select-btn button:hover {
	color: white;
	border: none;
	background-color: rgb(179, 0, 74);
}

.contact-form .input-box {
	margin-top: 10px;
}
.contact-form .input-box input {
	width: 100%;
	padding: 5px 0;
	font-size: 15px;
	border: none;
	border-bottom: 2px solid rgb(167, 167, 167);
	outline: none;
	color: rgb(41, 1, 28);
	font-weight: bold;
	background-color: white;
}
.contact-form .input-box input:focus {
	border-bottom: 2px solid rgb(141, 0, 59);
	transition: 0.5s;
	background-color: transparent;
	/* pointer-events: none; */
}
.contact-form .input-box input::placeholder {
	color: rgb(167, 167, 167);
}

.contact-form button {
	display: flex;
	align-items: center;
	padding: 15px 30px;
	gap: 10px;
	border: none;
	font-size: 14px;
	justify-content: center;
	text-align: center;
	color: white;
	border-radius: 10px;
	/* width: 100%;  */
	background-color: rgb(179, 0, 74);
	cursor: pointer;
	margin-top: 110px;
}
